.Header_img img{
    float: left;
    height: 510px;
    width: 100%;
    padding-bottom: 30px;
}

.Header h1{
    text-align: center;
    background-color: antiquewhite;
    font-size: 40px;
    padding-bottom: 30px;
}
