.slide_image img{
    float: left;
    height: 510px;
    width: 100%;
}

.slide{
    overflow: hidden;
    height: 510px;
    width: 100%;
    margin: 0 auto;
    display: "block";
}

.Header h1{
    text-align: center;
    padding-top: 5%;
}